@font-face {
    font-family: "NeonFont";
    src: url("../fonts/NeonFont/neonFont.ttf"),
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/**========================================================================
 **                            THE ACTUAL MATTERS PART SCSS
 *========================================================================**/

.bumper {
    // font-size: 50px;
    // font-family: NeonFont;
    width: 100%;
    height: 150vh;
    background: #f3f3f3;
}

.horizontal-section,
.horizontal-section2 {
    padding: 0 0;
    background: #f3f3f3;
}

.sticky-wrapper,
.sticky-wrapper2 {
    position: sticky;
    top: 3.125rem;
    width: 100%;
    overflow: hidden;
}

.element-wrapper,
.element-wrapper2 {
    position: relative;
    display: flex;
}

.element {
    width: 50rem;
    height: 43.75rem;
    background-color: #7aeef0dc;
    background-image: linear-gradient(to bottom right, #084158, #111c58, #0e1b2b);
    margin: 0 .625rem 0 0;
    margin-top: 1.25rem;
    flex-shrink: 0;
}